{{template "base" . }}
{{define "content"}}
<header class="p-3 bg-dark text-white">
    <h1>About Page</h1>
</header>
<div class="container">
    <main>
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-4 fw-bold">About</h1>
            <p>About page</p>
        </div>
    </main>
</div>
{{end}}